<!DOCTYPE html>
<html lang='en'>

<head>
    <meta class="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>LDrago Solutions</title>
    <link rel='stylesheet' href='./css/style.min.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="navbar navbar--extended">
        <nav class="nav__mobile"></nav>
        <div class="container">
            <div class="navbar__inner">
                <a href="index.html" class="navbar__logo">LDrago Solutions</a>
                <nav class="navbar__menu">
                    <ul>
                        <li>
                            <form id="home" method="GET" action="/"><a href="javascript:{}" onclick="document.getElementById('home').submit();">Home</a> </form>
                        </li>
                        <li><a href="#">Our Works</a></li>
                        <li>
                            <form id="career" method="GET" action="/careers"> <a href="javascript:{}" onclick="document.getElementById('career').submit();">Careers</a> </form>
                        </li>
                        <li>
                            <form id="contact" method="GET" action="/contactform"><a href="javascript:{}" onclick="document.getElementById('contact').submit();">Connect now</a></form>
                        </li>
                    </ul>
                </nav>
                <div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
            </div>
        </div>
    </div>
    <div class="container"><br><br><br>
        <center>
            <h1> Our Successfull Team</h1>
        </center>
        <div class="steps__inner">
            <div class="step">
                <div class="step__media">
                    <img src="./images/jay.png" class="step__image">
                </div>
                <h4>"We belief in Young talents for building an innovative platforms with enhanced features"</h4>
                <p class="step__text">Jayanth Kumar- Web App Developer</p>
            </div>
            <div class="step">
                <div class="step__media">
                    <img src="./images/teja.png" class="step__image">
                </div>
                <h4>"Nothing is more tough to achieve when we are dedicated towards it."</h4>
                <p class="step__text">Teja Simha Kumar-Mobile App Developer</p>
            </div>

            <div class="step">
                <div class="step__media">
                    <img src="./images/vinod.png" class="step__image">
                </div>
                <h4>"The harder you work for something, The greater you'll feel when u achieve it."</h4>
                <p class="step__text">Vinod Kumar- Quality Analyst </p>
            </div>


        </div>
    </div>
    <div class="container">
        <div class="steps__inner">

            <div class="step">
                <div class="step__media">
                    <img src="./images/guru.png" class="step__image">
                </div>
                <h4>"Every success begins with two beliefs the future can be better than the present and I have the power to make it."</h4>
                <p class="step__text">Guru sai- Web App Developer</p>
            </div>
            <div class="step">
                <div class="step__media">
                    <img src="./images/chakri.png" class="step__image">
                </div>
                <h4>"Life time customer services are our responsibilites and our core principles"</h4>
                <p class="step__text">Chakradhar- Customer Support </p>
            </div>
            <div class="step">
                <div class="step__media">
                    <img src="./images/sushmanth.png" class="step__image">
                </div>
                <h4>"Being creative is skill and we are professional in desiging to reach customer expectations"</h4>
                <p class="step__text">Sushmanth Sai- UI/UX Designer </p>
            </div>

            <div class="step">
                <div class="step__media">
                    <img src="./images/nag.png" class="step__image">
                </div>
                <h4>"Aim and Nail it- We are Passionated in building creative platforms"</h4>
                <p class="step__text">Nageswar- UI Developer </p>
            </div>


        </div>
    </div>

    <div class="cta cta--reverse">
        <div class="container">
            <div class="cta__inner">
                <h3 class="cta__title">We are very excited to build innovative platforms along with you
                </h3>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="footer footer--dark">
        <div class="container">
            <div class="footer__inner">
                <a href="index.html" class="footer__textLogo">LDrago Solutions</a>
                <div class="footer__data">
                    <div class="footer__data__item1">
                        <div class="footer__row">
                            Your Product is in our hands
                        </div>
                    </div>

                    <div class="footer__data__item">
                        <a href="#" class="fa fa-facebook"> </a>
                        <a href="https://twitter.com/SolutionsDrago" class="fa fa-twitter"> </a>
                        <a href="mailto:LdragoSolutions@gmail.com" class="fa fa-google"> </a>
                        <a href="https://www.linkedin.com/in/ldrago-solutions-0087031b1/" class="fa fa-linkedin"> </a>
                        <a href="https://www.instagram.com/ldrago_solutions/" class="fa fa-instagram"> </a>


                    </div>
                </div>
            </div>
        </div>
        <script src='js/app.min.js'></script>
</body>

</html>