<!DOCTYPE html>
<html lang='en'>

<head>
    <meta class="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>LDrago Tech's</title>
    <link rel='stylesheet' href='./css/style.min.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="navbar navbar--extended">
        <nav class="nav__mobile"></nav>
        <div class="container">
            <div class="navbar__inner">
                <a href="index.html" class="navbar__logo">LDrago Tech's</a>
                <nav class="navbar__menu">
                    <ul>
                        <li>
                            <form id="home" method="GET" action="/"><a href="javascript:{}" onclick="document.getElementById('home').submit();">Home</a> </form>
                        </li>
                        <li><a href="#">Our Works</a></li>
                        <li>
                            <form id="career" method="GET" action="/careers"> <a href="javascript:{}" onclick="document.getElementById('career').submit();">Careers</a> </form>
                        </li>
                        <li>
                            <form id="contact" method="GET" action="/contactform"><a href="javascript:{}" onclick="document.getElementById('contact').submit();">Connect now</a></form>
                        </li>
                    </ul>
                </nav>
                <div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
            </div>
        </div>
    </div>
    <div class="mainblock">
        <div class="mainblock__overlay mainblock__overlay--gradient"></div>
        <div class="mainblock__mask"></div>
        <div class="mainblock__inner">
            <div class="container">
                <div class="mainblock__content">
                    <div class="mainblock__content__inner" id='navConverter'>
                        <h1 class="mainblock__title">
                            <div class="welcomeText">
                                <div class="textCard" id="welcomeTxt">
                                </div>
                            </div>

                        </h1>
                        <p class="mainblock__text"> Having an idea but don't know where to start ? <br>Connect with us and build real time applications. </p>
                        <a href="contactform.html" class="button button__accent">Connect Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainblock__sub">
        <span id="scrollToNext" class="scroll">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='mainblock__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
		</span>
    </div>
    <div class="steps landing__section">
        <div class="container">
            <div class="slider-wrapper">
                Together We
                <div class="slider">
                    <div class="slider-text1">Succeed</div>
                    <div class="slider-text2">Build</div>
                    <div class="slider-text3">Plan</div>
                </div>
            </div>
            <p>We are much awaited for your communication to create real time applications</p>
        </div>
        <div class="container">
            <div class="steps__inner">
                <div class="step">
                    <div class="step__media">
                        <img src="./images/1.svg" class="step__image">
                    </div>
                    <h4>Planning</h4>
                    <p class="step__text">We are more creative at planning the things and building the prototypes that enhance the user experience at best. </p>
                </div>
                <div class="step">
                    <div class="step__media">
                        <img src="./images/2.svg" class="step__image">
                    </div>
                    <h4>Building Code</h4>
                    <p class="step__text">Our developers code in deep and effectively in fullfilling the user expectations and their design models. </p>
                </div>
                <div class="step">
                    <div class="step__media">
                        <img src="./images/3.svg" class="step__image">
                    </div>
                    <h4>Success</h4>
                    <p class="step__text">Hurray! we are dedicated in reaching goals that builds the confidence in developers and trust towards the company. </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Expanded sections -->
    <div class="expanded landing__section">
        <div class="container">
            <div class="expanded__inner">
                <div class="expanded__media">
                    <img src="./images/mobile.svg" class="expanded__image">
                </div>
                <div class="expanded__content">
                    <h2 class="expanded__title">Mobile application development</h2>
                    <p class="expanded__text">Mobile application development is the key development process in our organization where user can experience the real time features with more enhanced activites. Our developers are more dedicated in reaching the user expectations with
                        the latest technologies that surrounded by market. We develop android apps using java, Kotlin and ios apps using flutter.we use latest industry standard architectures like MVVM architecture for mobile application development.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="expanded landing__section">
        <div class="container">
            <div class="expanded__inner">
                <div class="expanded__media">
                    <img src="./images/web.svg" class="expanded__image">
                </div>
                <div class="expanded__content">
                    <h2 class="expanded__title">Web Application Development</h2>
                    <p class="expanded__text">Web technologies are enhancing by day to day life. Starting online business or willing to expose your ideas to world.. Web application plays an important role. our developers are dedicated in reaching the goals at web desiging and
                        development.we use industry standard architectures like MVC architecture for web application development.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="expanded landing__section">
        <div class="container">
            <div class="steps__inner">
                <div class="step">
                    <div class="step__media">
                        <img src="./images/uiux.svg" class="step__image">
                    </div>
                    <h4>UI/UX Desiging </h4>
                    <p class="step__text">We design modern & interactive user interfaces for web & mobile products. User can experience the real time environment features.</p>
                </div>
                <div class="step">
                    <div class="step__media">
                        <img src="./images/testing.svg" class="step__image">
                    </div>
                    <h4>Usability Testing</h4>
                    <p class="step__text">We focused on the uncover problems in the design and discover opportunites to improve the design. We are intrested in learning about users behaviour and preferences. </p>
                </div>
                <div class="step">
                    <div class="step__media">
                        <img src="./images/eshop.svg" class="step__image">
                    </div>
                    <h4>eCommerce Solutions</h4>
                    <p class="step__text">Start your online business with our eCommerce services and make profits through online. </p>
                </div>

            </div>
        </div>
    </div>
    <div class="expanded landing__section">
        <div class="container">
            <div class="expanded__inner">
                <div class="expanded__media">
                    <img src="./images/about.svg" class="expanded__image">
                </div>
                <div class="expanded__content">
                    <h2 class="expanded__title">About LDrago Tech's</h2>
                    <p class="expanded__text">We are group of eminent professional developers. Focused to reach the goals with customer satisfaction and building trust towards the organization. We are dedicated in enlarging and following the core values and principles of company
                        with our skill sets. User can experience the real time features throughout their application with latest technologies that are surrounded by corporate market. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="cta cta--reverse">
        <div class="container">
            <div class="cta__inner">
                <h2 class="cta__title">Get connected with us</h2>
                <p class="cta__sub cta__sub--center">Share your views with us and get your project ready</p>
                <a href="contactform.html" class="button button__accent">Connect now</a>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="footer footer--dark">
        <div class="container">
            <div class="footer__inner">
                <a href="index.html" class="footer__textLogo">LDrago Tech's</a>
                <div class="footer__data">
                    <div class="footer__data__item1">
                        <div class="footer__row">
                            Your Product in our hands
                        </div>
                    </div>

                    <div class="footer__data__item">
                        <a href="#" class="fa fa-facebook"> </a>
                        <a href="#" class="fa fa-twitter"> </a>
                        <a href="#" class="fa fa-google"> </a>
                        <a href="#" class="fa fa-linkedin"> </a>


                    </div>
                </div>
            </div>
        </div>
        <script src='./js/app.min.js'></script>
</body>

</html>